  p{position: fixed;
  width: 100%;
  bottom: 50px;
  text-align:center;
  
  }
  .vl {
    border-left: 2px solid rgb(135, 138, 135);
    height: 300px;
    position: absolute;
    left: 50%;
    margin-left:-3; 
    top: 0;
  }
  .main{
    text-align: center;
  }
